appnope==0.1.0
click==6.7
decorator==4.1.2
Flask==0.12.2
Flask-Limiter==0.9.5.1
flask-mongoengine==0.9.3
Flask-WTF==0.14.2
ipython==6.1.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
limits==1.2.1
MarkupSafe==1.0
mongoengine==0.13.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pymongo==3.5.1
python-dotenv==0.6.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.12.2
WTForms==2.1
