<html>
    <head>
        <title>the Dev - a new way to dev websites</title>
        <link rel="stylesheet" href="/public/assets/css/login.css">
    </head>
    <body>
    <br><br><br><br>
    <br><br><br><br>
    <form class="sign-up">
        <h1 class="sign-up-title">Sign up in seconds</h1>
        <input type="text" class="sign-up-input" placeholder="What's your username?" autofocus>
        <input type="submit" value="Sign me up!" class="sign-up-button">
        <br><br>
        <a href="/register"><button type="button" class="register-button">Go for registration</button></a>
    </form>
    </body>
</html>